### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out
gen

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Virtual-Machine crash logs
hs_err_pid*

### OSX
*.DS_Store
._*

### Project
target/
logs/